<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>The Tech Blog</title>
</head>
<body>

    <header>
        <nav>
            <div id="heading">
                <h1>The Tech Blog</h1>
            </div>

            <ul>
                <a href=#><li>Home</li></a>
                <a href=#><li>Dashboard</li></a>
                <a href=#><li>Sign In</li></a>
                <a href=#><li>Log Out</li></a>
            </ul>
        </nav>
        
    </header>

    {{{body}}}
    
    <footer>
        © 2023 The Tech Blog
    </footer>
</body>
</html>