<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>The Tech Blog</title>
</head>
<body>

    <header>
        <nav>
            <div id="heading">
                <h1>The Tech Blog</h1>
            </div>

            <ul>
                <a href='/'><li>Home</li></a>
                <a href='/dashboard'><li>Dashboard</li></a>
                {{#if logged_in}}
                <a href='#' id="logout"><li>Log Out</li></a>
                {{else}}
                <a href='/login'><li>Sign In</li></a>
                {{/if}}
            </ul>
        </nav>
        
    </header>

    {{{body}}}
    <footer>
        © 2023 The Tech Blog
    </footer>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>