<section id="blogpost">

    <div id="blogpost-content">
        <p>Edit Title</p>
        <textarea id="edit-post-title">{{blogPost.post_name}}</textarea>
        <br>
        <p>Edit Content</p>
        <textarea id="edit-post-content" rows="10">{{blogPost.post_content}}</textarea>
    </div>

    <button>Update Post</button>
    <button>Delete Post</button>
</section>