<section id="new-post">

    <div id="blogpost-content">
        <p>Title</p>
        <textarea id="edit-post-title"></textarea>
        <br>
        <p>Content</p>
        <textarea id="edit-post-content" rows="10"></textarea>
        <button id="add-post-button">Submit Post</button>
    </div>

</section>
<script src="/js/addPost.js"></script>