<section id="blogpost">

    <div id="blogpost-heading">
        <h1>Add a New Post</h1>
    </div>

    <div id="blogpost-content">
        <p>Title</p>
        <textarea id="edit-post-title" cols="50" placeholder="Write title here..."></textarea>
        <br>
        <p>Content</p>
        <textarea id="edit-post-content" rows="10" cols="50" placeholder="Write post content here..."></textarea>
        <button id="submit-post-button">Submit Post</button>
    </div>

</section>
<script src="/js/addPost.js"></script>