<section id="blogpost">
    <div id="blogpost-heading">
        <h1>{{blogPost.post_name}}</h1>
        <p>{{blogPost.user.name}}</p>
    </div>

    <div id="blogpost-content">
        <p>{{blogPost.post_content}}</p>
    </div>

</section>